@import "../../../color.scss";

button {
  background-color: $light-grey;
  border: none;
  padding: 0.5rem 2rem;
  font-weight: 600;
  margin: 0 0.5rem;

  &:hover {
    opacity: 0.8;
    background-color: $white;
  }
}
