@import "../../../color.scss";

.rich-editor {
  min-height: 6em;
  display: flex;
  flex-direction: column;

  &__short-cuts {
    display: flex;
    border-bottom: 1px solid $light-grey;
    font-weight: 600;

    &__item {
      cursor: pointer;
      color: $light-green;
      margin: 5px 5px;
      &__active {
        color: $light-green;
      }
    }
  }

  &__btns {
    display: flex;
    align-self: flex-end;
  }

  .DraftEditor-root {
    min-height: 6em;

    .public-DraftEditorPlaceholder-inner {
      color: $grey;
    }
  }
}
